bin/fzf
bin/fzf.exe
dist
target
pkg
Gemfile.lock
.DS_Store
doc/tags
vendor
gopath
*.zwc
fzf
tmp
*.patch
.vim/plugged
# top-level hidden files/directories
/alacritty
/.babel.json
/.bash_history
/.bazel
/.cache
/.cargo
/.config
/.cddb
/.debug
/.fontconfig
/.fzf*
/.gist
/.gitconfig
/.git-old
/.local
/.m2
/.mozilla
/.node*
*.map
*.min.*
.git
/.git
bower_components/*
node_modules/*
tags
vendor-tags
vendor/*
/.npm*
/.nvimlog
/.rustup
/.vim-cache
/.viminfo
/.wget*
/.yarnrc
/.zsh_history
# top-level directories
/data
/Desktop
/Descargas
/rust
/sf
/tmp
/Imagenes
/Documentos
/snap
.netrwhist
.luacheckcache
